.create-contract-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.contract-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1%50px; 
}

input[type="date"] {
  margin-bottom: 5px;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px; 
}

.button-group button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.button-group button:last-child {
  margin-right: 0; 
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

/* Responsividade */
@media (max-width: 600px) {
  .create-contract-container {
    padding: 10px;
  }

  input,
  select {
    padding: 6px;
  }

  .button-group button {
    padding: 8px 16px;
    margin-right: 5px; 
  }
}
